body {
    color: #6B7A90;
    margin: 0;
    background-color: #151e2d !important;
    font-family: 'Heebo Regular';
    position: relative;
    z-index: 2;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #6a817854;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    backdrop-filter: blur(10px);
    background: var(--transparent-bg);
    min-height: 3.5rem;
    border-bottom: solid var(--transparent-bg-dark) 1px;
}

    nav .container {
        display: inline-flex;
        justify-content: space-between;
        padding: 0 3rem !important;
    }

    nav h2 {
        font-size: 1.75rem;
        background-image: linear-gradient(121deg, #f74469, #fcca5e, #173dff);
        background-size: 600% 600%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -ms-animation: GradientAnimation 12s ease infinite;
        animation: gradient 2.5s cubic-bezier(1, 0.52, 0.53, 0.94) infinite;
    }

    nav .navbar-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav .navbar-menu li {
            margin: 0 20px;
        }

        nav .navbar-menu a {
            display: block;
            position: relative;
            color: white;
            font-size: 30px;
            font-weight: 500;
            padding: 5px 0;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
        }

            nav .navbar-menu a::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background: #fff;
                transition: all 0.2s ease-in-out;
            }

            nav .navbar-menu a:hover::before {
                width: 100%;
            }

            nav .navbar-menu a:hover {
                color: #fff;
            }

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-logo {
        justify-content: center;
    }
}

.list-reset {
    list-style: none;
    padding: 0
}

.asset-logo {
    max-width: 2.5rem;
}

main {
    position: relative;
    z-index: 1;
}