:root {
    --color-secondary: #058b3c;
    --color-primary: #19504e;
    --color-error: red;
    --color-footer: #151e2d;
    --card-radius: .75rem;
    --color-text-title: #182538;
    --color-text-setence: #6B7A90;
    --color-fg: #404d64;
    --transparent-bg: #bdf9f914;
    --transparent-bg-dark: #0000002e;
    --color-bg-ultra-dark: #0e141e;
}

@font-face {
    font-family: 'Heebo Thin';
    font-weight: 500;
    src: url(../font/Heebo/Heebo-Thin.ttf)
}

@font-face {
    font-family: 'Heebo Regular';
    font-weight: 500;
    src: url(../font/Heebo/Heebo-Regular.ttf)
}

@font-face {
    font-family: 'Heebo Bold';
    font-weight: 500;
    src: url(../font/Heebo/Heebo-Bold.ttf)
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: var(--color-footer);
}

.content-divided {
    width: 100%;
    margin: 1.2rem auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    .content-divided.reverse {
        flex-wrap: wrap-reverse;
    }

    .content-divided .divider {
        width: 2%;
        max-width: .4rem;
        height: 25rem;
        background: var(--color-secondary);
        border-radius: 1rem;
    }

    .content-divided .content {
        width: 49%;
        min-width: 500px;
        max-width: 25rem;
        padding: 2.5rem 0;
        text-align: center;
        z-index: 10;
    }

        .content-divided .content h1 {
            font-size: xx-large;
            color: var(--color-secondary);
        }

        .content-divided .content p {
            max-width: 21rem;
            margin: 1.25rem auto;
            font-size: large;
        }

        .content-divided .content.background-gradient {
            background: linear-gradient(121deg, var(--color-secondary), #102C57);
            background-size: 600% 600%;
            -webkit-animation: GradientAnimation 3s ease infinite;
            -moz-animation: GradientAnimation 3s ease infinite;
            -o-animation: GradientAnimation 3s ease infinite;
            animation: GradientAnimation 3s ease infinite;
            padding: 0 !important;
        }

            .content-divided .content.background-gradient .ocutor {
                background-image: url(../img/blob-scene.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                min-height: 14rem;
                padding: 1rem !important;
                display: flex;
                justify-content: center;
            }

                .content-divided .content.background-gradient .ocutor img {
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    margin: 0 auto;
                }

button {
    font-size: 1rem;
    font-family: 'Heebo Regular';
    padding: .5rem 2.5rem;
    cursor: pointer;
    min-width: 8.5rem;
    margin: .25rem;
    height: fit-content;
    transition: .2s ease;
    border-radius: .25rem !important;
}

    button:hover {
        box-shadow: 0px 1px 22px 2px #08ac52c4;
        transform: perspective(7rem) translate3d(0, 0, .25rem);
    }

    button.positive {
        background: linear-gradient(45deg, var(--color-secondary), #08ac4b);
        border: none;
        outline: none;
        color: white;
    }

    button.negative {
        border-color: var(--color-secondary);
        border-width: 1px;
        color: var(--color-secondary);
        border-style: solid;
        background: transparent;
    }

.container,
.container-sm {
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
}

.container {
    max-width: 1128px
}

.container-sm {
    max-width: 848px
}

.container .container-sm {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0
}

.main section.read-more img.arrow {
    width: 3.5em;
    margin: 0;
    animation: MoreArrowAnimation 1.3s cubic-bezier(0.61, 0.01, 0.49, 0.8) infinite;
    position: relative;
    z-index: 2;
}

    .main section.read-more img.arrow:hover {
        transform: perspective(6rem);
        cursor: pointer;
        animation: none;
    }

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-text-title);
    font-family: 'Heebo Bold';
    margin: .5rem;
}

p {
    font-family: 'Heebo Regular';
    font-weight: 200;
    color: var(--color-text-setence);
}

b {
    color: var(--color-primary);
    font-family: 'Heebo Bold';
    font-weight: 300;
    text-transform: uppercase;
}

section.contact .contact-form input,
section.contact .contact-form textarea {
    background: var(--transparent-bg-dark);
    color: white;
    border-color: #404d64;
    border-width: 1px;
    border-style: solid;
    max-width: 15rem;
    padding: .35rem;
    border-radius: .4rem;
    outline: none;
}

    section.contact .contact-form input:focus {
        border-color: var(--color-secondary);
        transition: 0.2s;
        box-shadow: 0px 1px 12px 1px #08ac4b;
    }

section.contact .contact-form textarea {
    min-width: 10rem;
    width: 25rem;
    max-width: 100%;
    min-height: 10rem;
}

@keyframes MoreArrowAnimation {
    0% {
        transform: translate3d(0, 0, 1rem);
    }

    50% {
        transform: translate3d(0, 1rem, 1rem);
    }

    100% {
        transform: translate3d(0, 0, 1rem);
    }
}

.modal-dialog-full {
    margin: 0 !important;
    min-width: 100%;
    height: 100%;
}

    .modal-dialog-full .modal-content {
        min-height: 100%;
        height: 100%;
    }