:root {
    --color-secondary: #257470;
    --color-primary: #08ac4b;
    --color-error: red;
    --card-radius: .75rem;
    --color-text-title: #182538;
    --color-text-setence: #6B7A90;
}

@font-face {
    font-family: 'Heebo Thin';
    font-weight: 500;
    src: url(../font/Heebo/Heebo-Thin.ttf)
}

@font-face {
    font-family: 'Heebo Regular';
    font-weight: 500;
    src: url(../font/Heebo/Heebo-Regular.ttf)
}

@font-face {
    font-family: 'Heebo Bold';
    font-weight: 500;
    src: url(../font/Heebo/Heebo-Bold.ttf)
}

body {
    margin: 0;
    font-family: 'Heebo Regular';
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    padding: .7rem;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(.2rem);
    background-color: #6a817854;
}

    nav .content {
        display: inline-flex;
    }

    nav .logo {
        width: 7.5rem;
        height: 2.5rem;
        transition: 0.3s;
        border-radius: 2rem;
        left: 2rem;
        padding: 0.5rem;
        margin: 0 2rem;
        cursor: pointer;
        background: #a5a5a542;
        box-shadow: 0px 10px 42px -16px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 10px 42px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 42px -16px rgba(0,0,0,0.75);
    }

        nav .logo:hover {
            transition: 0.3s;
            transform: perspective(16rem) translate3d(0,0,.45rem);
            box-shadow: 0px 10px 42px -2px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 10px 42px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 10px 42px -2px rgba(0,0,0,0.75);
        }

main {
    background: linear-gradient(121deg, var(--color-secondary), #102C57);
    background-size: 600% 600%;
    height: 80%;
    min-width: 100%;
    text-align: center;
    position: relative;
    padding: 15% 0 7rem 0;
    -webkit-animation: GradientAnimation 12s ease infinite;
    -moz-animation: GradientAnimation 12s ease infinite;
    -o-animation: GradientAnimation 12s ease infinite;
    animation: GradientAnimation 12s ease infinite;
}

    main::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 13.3rem;
        background: url(../img/wave.svg);
        background-repeat: repeat-x;
        z-index: 0;
    }

    main section {
        color: white;
    }

        main section.text {
        }

            main section.text h1 {
                font-size: 2.7rem;
                margin: 1.3rem;
                color: white;
            }

            main section.text .setence {
                width: 100%;
                text-align: center;
                font-family: 'Heebo Thin';
            }

                main section.text .setence .content {
                    max-width: 28rem;
                    margin: auto;
                    font-size: larger;
                }

        main section.read-more {
            margin-top: 5rem;
        }

            main section.read-more p {
                margin: 0;
                color: white;
            }

            main section.read-more img.arrow {
                width: 3rem;
                margin: 0;
                animation: MoreArrowAnimation 1.3s cubic-bezier(0.61, 0.01, 0.49, 0.8) infinite;
            }

                main section.read-more img.arrow:hover {
                    transform: perspective(6rem);
                    cursor: pointer;
                    animation: none;
                }

section.body {
    margin: 0 5%;
}

section.advantages div.cards {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}

section.advantages .header {
    text-align: center;
}

    section.advantages .header h1 {
        font-size: xxx-large;
    }

    section.advantages .header p {
        max-width: 35rem;
        margin: 1rem auto 3rem auto;
        font-size: larger;
    }

div.cards .feature {
    max-width: 13rem;
    text-align: center;
    padding: 1rem;
    background: #e5e5e5;
    border-radius: 1rem;
    box-shadow: 0px 10px 42px -16px rgba(0,0,0,0.75);
    margin: 1rem;
    cursor: pointer;
    transition: .3s ease-out;
}

    div.cards .feature:hover {
        transform: perspective(7.5rem) translate3d(0, 0, 10px);
        transition: .5s;
    }

.feature h1 {
    color: var(--color-text-title);
}

.feature p {
    color: var(--color-text-setence);
}

section.singup {
    display: inline-flex;
    max-width: 50rem;
    border-radius: .8rem;
    text-align: left;
    padding: 1.5rem;
    box-shadow: 0px 10px 42px -16px rgb(0 0 0 / 75%);
    margin-bottom: -10rem;
    background: white;
}

    section.singup div {
        min-width: fit-content;
    }

        section.singup div.text {
            width: 60%;
            padding: 0 6rem 0 2rem;
        }

            section.singup div.text h1 {
                margin: 0;
                color: var(--color-text-title);
            }

            section.singup div.text p {
                color: var(--color-text-setence);
                margin: .1rem 0;
            }

        section.singup div.buttons {
            width: 40%;
            display: inline-flex;
        }

button {
    font-size: 1rem;
    font-family: 'Heebo Regular';
    padding: .5rem 2.5rem;
    cursor: pointer;
    min-width: 9rem;
    margin: .25rem;
    height: fit-content;
    transition: .2s ease;
    border-radius: .5rem;
}

    button:hover {
        box-shadow: 0px 1px 22px 2px #08ac52c4;
        transform: perspective(7rem) translate3d(0, 0, .25rem);
    }

    button.positive {
        background: linear-gradient(45deg, var(--color-secondary), #08ac4b);
        border: none;
        outline: none;
        color: white;
    }

    button.negative {
        border-color: var(--color-primary);
        border-width: 1px;
        color: var(--color-primary);
        border-style: solid;
    }

footer {
    text-align: center;
}

.list-reset {
    list-style: none;
    padding: 0
}

.container, .container-sm {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px
}

@media (min-width: 481px) {
    .container, .container-sm {
        padding-left: 24px;
        padding-right: 24px
    }
}

.container {
    max-width: 1128px
}

.container-sm {
    max-width: 848px
}

.container .container-sm {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0
}

.content-divided {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .content-divided .content {
        width: 50%;
        min-width: 15rem;
        padding: 2.5rem 0;
        text-align: center;
    }

        .content-divided .content.right {
        }

        .content-divided .content.left {
        }

        .content-divided .content h1 {
            font-size: 1.8rem;
        }

        .content-divided .content p {
            max-width: 21rem;
            margin: 1.25rem auto;
            font-size: 1.075rem;
        }

h1, h2, h3, h4, h5 {
    color: var(--color-text-title);
    font-family: 'Heebo Bold';
    margin: .5rem;
}

p {
    font-family: 'Heebo Regular';
    font-weight: 200;
    color: var(--color-text-setence);
}

    p span {
        background: var(--color-secondary);
        color: white;
        padding: 0 .2rem;
        font-family: 'Heebo Thin';
        font-weight: 600; 
        font-size: 1.055rem;
        font-style: italic;
        margin: 0 .125rem;
    }

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important
}

    .screen-reader-text:focus {
        border-radius: 2px;
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
        clip: auto !important;
        display: block;
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 14px;
        letter-spacing: 0px;
        font-weight: 600;
        line-height: 16px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #fff;
        color: #535FD7 !important;
        border: none;
        height: auto;
        left: 8px;
        padding: 16px 32px;
        top: 8px;
        width: auto;
        z-index: 100000
    }

.site-footer {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    background: #182538;
    color: #6B7A90
}

    .site-footer a {
        color: #6B7A90;
        text-decoration: none
    }

        .site-footer a:hover, .site-footer a:active {
            text-decoration: none;
            color: navajowhite;
        }

    .site-footer::before {
        display: none
    }

.lights-off .site-footer::before {
    display: block
}

.site-footer-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 48px
}

.footer-brand, .footer-links, .footer-social-links, .footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

.footer-brand, .footer-links, .footer-social-links {
    margin-bottom: 24px
}

    .footer-links li + li, .footer-social-links li + li {
        margin-left: 16px
    }

    .footer-social-links li {
        display: inline-flex
    }

        .footer-social-links li a {
            padding: 8px
        }

.asset-logo {
    max-width: 2.5rem;
}

@media (min-width: 641px) {
    .site-footer-inner {
        justify-content: space-between;
        padding-top: 72px;
        padding-bottom: 72px
    }

    .footer-brand, .footer-links, .footer-social-links, .footer-copyright {
        flex: 50%
    }

    .footer-brand, .footer-copyright {
        justify-content: flex-start
    }

    .footer-links, .footer-social-links {
        justify-content: flex-end
    }

    .footer-links {
        order: 1;
        margin-bottom: 0
    }
}

@-webkit-keyframes GradientAnimation {
    0% {
        background-position: 14% 0%
    }

    50% {
        background-position: 87% 100%
    }

    100% {
        background-position: 14% 0%
    }
}

@-moz-keyframes GradientAnimation {
    0% {
        background-position: 14% 0%
    }

    50% {
        background-position: 87% 100%
    }

    100% {
        background-position: 14% 0%
    }
}

@-o-keyframes GradientAnimation {
    0% {
        background-position: 14% 0%
    }

    50% {
        background-position: 87% 100%
    }

    100% {
        background-position: 14% 0%
    }
}

@keyframes GradientAnimation {
    0% {
        background-position: 14% 0%
    }

    50% {
        background-position: 87% 100%
    }

    100% {
        background-position: 14% 0%
    }
}

@keyframes MoreArrowAnimation {
    0% {
        transform: translate3d(0, 0, 1rem);
    }

    50% {
        transform: translate3d(0, 1rem, 1rem);
    }

    100% {
        transform: translate3d(0, 0, 1rem);
    }
}
